<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- meta data --}}
    {{>headerLinks}}
</head>

<body>
    {{!-- navbar --}}
    {{>navbar}}

    <!-- main-header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row about">

                    <!-- main-header right  -->
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="./images/gaurav.png" class="img-fluid" alt="owner image">
                        </figure>
                    </div>
                    <!-- main-header left  -->
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome to the weather app</p>
                        <h1>I am a <span> MERN stack Developer</span>, Compititive programmer</h1>
                        <div> <a href="https://github.com/gaurav01k3" target="_blank"><button><i
                                        class="fab fa-github"></i></button></a>
                            <a href="https://www.linkedin.com/in/gauravkumar0130" target="_blank"><button><i
                                        class="fab fa-linkedin-in"></i></button></a>
                            <a href="https://www.instagram.com/gaurav_1k3/" target="_blank"><button><i
                                        class="fab fa-instagram"></i></button></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Footer --}}
    {{>footer}}

</body>

</html>