<footer>
    <p>Made with &#10084; by Gaurav Kumar </p>
    <div> <a href="https://github.com/gaurav01k3" target="_blank"><button><i class="fab fa-github"></i></button></a>
        <a href="https://www.linkedin.com/in/gauravkumar0130" target="_blank"><button><i
                    class="fab fa-linkedin-in"></i></button></a>
        <a href="https://www.instagram.com/gaurav_1k3/" target="_blank"><button><i
                    class="fab fa-instagram"></i></button></a>
    </div>
</footer>